@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  background-image: url("../assets/images/fondo.jpg.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  font-size: 1.25rem; }
  header h1 {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #f8e4ed;
    letter-spacing: 2px; }

.navbar {
  display: flex;
  list-style-type: none;
  gap: 1.25rem;
  padding-right: 1.25rem;
  list-style: none; }
  .navbar li a {
    text-decoration: none;
    color: #f8e4ed; }

main {
  background-color: #dea1e9; }

.flexm, .buzos, .pantalones {
  background-color: #dea1e9;
  box-shadow: 2px 2px 5px black;
  display: flex;
  border-radius: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }
  .flexm img, .buzos img, .pantalones img {
    width: 17rem;
    height: 23.125rem;
    box-shadow: 2px 2px 5px black;
    border-radius: 0.625rem;
    object-fit: cover; }

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem; }
  .cards-container .card {
    width: calc(33.333% - 1rem);
    height: 23.125rem;
    border: 0.0625rem solid #dea1e9;
    background-color: lightcoral;
    box-shadow: 2px 2px 5px black;
    border-radius: 0.625rem;
    margin: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .cards-container .card .imgm1,
    .cards-container .card .imgm2,
    .cards-container .card .imgm3,
    .cards-container .card .imgm4 {
      max-height: 60%;
      overflow: hidden; }
    .cards-container .card img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 0.625rem 0.625rem 0 0; }
    .cards-container .card h2, .cards-container .card p {
      text-align: center;
      padding: 1rem;
      margin: 0; }
  .cards-container .card, .cards-container .w {
    width: calc(50% - 0.625rem);
    border: 0.0625rem solid #dea1e9;
    background-color: lightcoral;
    box-shadow: 2px 2px 5px black;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .cards-container .card .imgw1,
    .cards-container .card .imgw2, .cards-container .w .imgw1,
    .cards-container .w .imgw2 {
      max-height: 60%;
      overflow: hidden; }
    .cards-container .card img, .cards-container .w img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 0.625rem 0.625rem 0 0; }
    .cards-container .card h2, .cards-container .card p, .cards-container .w h2, .cards-container .w p {
      text-align: center;
      padding: 1rem;
      margin: 0; }

.flexf {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem 0; }
  .flexf section {
    flex: 1;
    padding: 0 1rem;
    text-align: center; }
    .flexf section h3 {
      margin-bottom: 1rem; }
    .flexf section p {
      margin-bottom: 2rem; }
    .flexf section .media {
      display: flex;
      justify-content: center;
      align-items: center; }
      .flexf section .media a {
        display: inline-block;
        margin: 0 1rem; }
        .flexf section .media a img {
          width: 2rem;
          height: 2rem; }
  .flexf .maps {
    display: flex;
    justify-content: center;
    align-items: center; }
    .flexf .maps a img {
      width: 2rem;
      height: 2rem; }

@media (max-width: 1440px) {
  header {
    font-size: 18px; }
  .navbar {
    gap: 0.5rem; }
  footer {
    flex-direction: column; }
  .Contacto,
  .Encontranos,
  .Preguntas {
    margin-bottom: 1rem;
    text-align: center; }
  .media {
    display: flex;
    justify-content: center;
    align-items: center; }
  .media a {
    margin: 0 0.5rem; } }

@media (max-width: 1024px) {
  header {
    font-size: 16px; }
  .navbar {
    gap: 0.3rem;
    flex-direction: row; }
  .navbar li {
    margin: 0.5rem 0; } }

@media (max-width: 768px) {
  header {
    font-size: 15px;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .navbar {
    gap: 0.3125rem; }
  .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "div1" "div2" "div3";
    gap: 1.25rem; }
    .galeria div img {
      width: 80%;
      height: 250px;
      object-fit: contain; }
  .cards-container .card {
    width: calc(50% - 1rem); }
  footer {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 425px) {
  header {
    font-size: 14px;
    height: auto; }
  .navbar {
    flex-direction: column;
    gap: 0.5rem; }
  .navbar li {
    margin: 0.3rem 0;
    text-align: center; }
  .navbar a {
    padding: 0.3rem; }
  .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem; }
  .galeria div img {
    width: 100%;
    height: auto; }
  .cards-container .card {
    width: 100%;
    margin-bottom: 1rem; }
  footer {
    flex-direction: column;
    align-items: center; }
  .Contacto,
  .Encontranos,
  .Preguntas {
    margin-bottom: 1rem;
    text-align: center; }
  .media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .media a {
    margin: 0.3rem; } }

@media (max-width: 320px) {
  header {
    font-size: 13px; }
  .navbar {
    gap: 0.2rem; }
  .navbar li {
    margin: 0.2rem 0; }
  .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem; }
  .cards-container .card {
    width: 100%; }
  .media a {
    margin: 0.2rem; }
  footer {
    flex-direction: column;
    align-items: center; } }
