@media (max-width: 768px) {
    // Ajustes para 768px
    header {
      font-size: 15px;
      height: 50%;
      display: flex;  // Cambio a flex para colocar elementos en fila
      flex-direction: row;
      align-items: center; // Centrar elementos horizontalmente
    }
    .navbar {
      gap: 0.3125rem;
      flex-direction: column;
    }
    .cardsindex{
      display: flex;
      flex-direction: column;
      .card-buzos, .card-pantalones {
        width: 100%;
      }
    }
    .flexm {
      .galeria {
        display: grid;
        grid-template-columns: 1fr;  // Cambiar a una sola columna
        grid-template-rows: repeat(3, 1fr);  // Tres filas
        grid-template-areas: "div1" "div2" "div3";  // Definir un área para cada elemento
          .div1,
          .div2,
          .div3 {
            order: initial;  // Restaurar el orden original
            text-align: center;
            justify-content: center;
            align-items: center;
            .div1image,
            .div2image,
            .div3image {
              width: 100%;
              height: 12.5rem;
              overflow: hidden;
              border-radius: 0.625;
            }
          }
      }
    }
    .cards-container .card {
      width: calc(50% - 1rem);
    }
    footer {
      flex-direction: column;
      align-items: center;
    }
    form{
      fieldset{
        legend,label,button{
          display: flex;
          flex-direction: column;
          font-size: 14px;
          justify-content: center;
          align-items: center;
        }
      }
    }
}